<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <div class="page-bg"></div>
        <div class="animation-wrapper">
            <div class="particle particle-1"></div>
            <div class="particle particle-2"></div>
            <div class="particle particle-3"></div>
            <div class="particle particle-4"></div>
        </div>
        <header class="header">
            <nav class="nav-bar">
                <div class="nav-user text-white">
                    <!-- <p>Profile picture</p> -->
                    {% if session['user_id'] %}
                        <p class="fs-1"> Hey, {{ session['username'] }}</p>
                    {% endif %}
                </div>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/games" id="navLink" class="btn btn-info">Games</a>
                    </li>
                    <li class="nav-item">
                        {% if session['user_id']%}
                            <a href="/logout" id="navLink" class="btn btn-info">Logout</a>
                        {% else %}
                            <a href="/login" id="navLink" class="btn btn-info">Login</a>
                        {% endif %}
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar bg-white"></span>
                    <span class="bar bg-white"></span>
                    <span class="bar bg-white"></span>
                </div>
            </nav>
        </header>
        <main class="" >
            <div class="d-flex flex-column align-items-center text-center gap-4 p-3">
                <div class="d-flex text-center">
                    <h1 id="connect" class="fs-5">
                        Connect with people like you.
                    </h1>
                </div>
                <div>
                    <p class="fs-6">Simply find the game and activity your looking for and pair up with people.</p>
                </div>
            </div>
            <div id="imgContainer" class="">
                <div id="game1" class="game">
                    <a href="#"><img class="image rounded-2 floating img1" src="{{ url_for('static', filename='images/Lightfall-Destiny-2-Game-Wallpaper.jpg') }}" alt="Destiny 2"></a>
                </div>
                <div id="game2" class="game">
                    <a href="#"><img class="image rounded-2 floating img2" src="{{ url_for('static', filename='/images/wp3955909-apex-legends-game-wallpapers.jpg') }}" alt="Apex Legends"></a>
                </div>
                <div id="game3" class="game">
                    <a href="#" ><img class="image rounded-2 floating img3" src="{{ url_for('static', filename='/images/wp11678543-call-of-duty-minimalist-art-wallpapers.jpg') }}" alt="Warzone"></a>
                </div>
                <div id="game4" class="game">
                    <a href="#" ><img class="image rounded-2 floating img4" src="{{ url_for('static', filename='/images/22554.jpg') }}" alt="Overwatch 2"></a>
                </div>
                <div  id="game5" class="game">
                    <a href="#"><img class="image rounded-2 floating img5" src="{{ url_for('static', filename='/images/wp6161894-quantum-league-4k-wallpapers.jpg') }}" alt="Valorant"></a>
                </div>
                <div id="game6" class="game">
                    <a href="#" ><img class="image rounded-2 floating img6" src="{{ url_for('static', filename='/images/wp4533372-fortnite-4k-wallpapers.jpg') }}" alt="Fortnite"></a>
                </div>
            </div>
        </main>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</html>
