<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Friends</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/friend.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body id="b">
        <nav class="d-flex justify-content-between px-5 py-3 align-items-center gap-5">
            <div>
                {% if session['username'] %}
                    <p class="fs-1"> Hey, {{ session['username'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex gap-4">
                <p><a href="/" class="btn glow-button" style="background-color:rgb(116, 237, 110) ;">Home</a></p>
                <p><a href="/games" class="btn "  style="background-color:rgb(116, 237, 110) ;">Games</a></p>
                <p><a href="/settings" class="btn "  style="background-color:rgb(116, 237, 110) ;">Settings</a></p>
            </div>
        </nav>
        <main>
        </main>
        <script type="text/javascript" src="{{ url_for('static', filename='js/friend.js') }}"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
    </body>
</html>
