[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
pymysql = "*"
websockets = "*"
gunicorn = "*"
flask-socketio = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
flask-sock = "*"
werkzeug = ">=2.0.0rc3"

[dev-packages]

[requires]
python_version = "3.10"
